annotated-types==0.8.0
charset-normalizer==3.5.1
dnspython==2.8.0
email-validator==2.3.0
idna==3.19
numpy @ file:///home/builder/.termux-build/python-numpy/src/dist/numpy-2.4.4-cp314-cp314-android_aarch64.whl#sha256=68ef31f0d8925d96da2b5e014c2c3d32a16dd68887329eeecb7f3a548222e24d
pandas @ file:///home/builder/.termux-build/python-pandas/src/dist/pandas-3.0.5-cp314-cp314-android_aarch64.whl#sha256=2a35f0521e37d4736d43c1be8e440673d00f1d929bf5bc07090d0d6519e987bd
pillow==12.3.0
pydantic==2.13.5
pydantic_core==2.46.5
python-dateutil==2.9.0.post0
reportlab==5.0.1
six==1.17.0
typing-inspection==0.4.4
typing_extensions==4.16.0
